<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>TITLE</title>
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32"/>
    <link rel="stylesheet" type="text/css" href="styles/STYLESHEET.css">
</head>

<body>
    <header>
        <h1>HEADER</h1>
    </header>

    <main>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis perferendis veritatis, aperiam obcaecati ut
            repellendus.</p>
    </main>

    <footer>
        <a href="https://google.com">LINK</a>
    </footer>
</body>

</html>